* {
    color: #E3ACF9;
    border-width: 1px;
    padding: 0; margin: 0; box-sizing: border-box
}

.conteiner {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.encabezado {
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
    font-family: 'DynaPuff', cursive;
    background-color: #6F1AB6;
    display: flex;
    justify-content: space-between;
}

.logoTitulo {
    display: flex;
    justify-content: space-between;
}

.columna2 {
    font-size: large;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 10px;
}

.columna3 {
    text-decoration: none;
    padding-top: 50px;
    padding-right: 20px;
}

.columnas {
    padding-left: 20px;
    text-decoration: none;
}

.segundoConteiner {
    background-image: url('fondo.png');
}

.articulo {
    float: left;
    height: 70vh;
    width: 70vw;
    font-family: 'Aboreto', cursive;
    font-weight: 800;
    padding-top: 15px;
    padding-left: 20px;
    text-align: center;
}

.tituloArticulo {
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
    display: inline-block;
    padding: 10px;
    background-color: #3D1766;
    margin-bottom: 10px;
}

.indice {
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
    background-color: #3D1766;
    padding-left: 50px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.indiceTitulo {
    padding-bottom: 10px;
    display: inline-block;
}

.indiceLista {
    display: inline-block;
}

.primerosPasosConsejo {
    padding-top: 20px;
    text-align: center;
}

.tituloPaso1 {
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
    display: inline-block;
    padding: 10px;
    background-color: #3D1766;
    margin-bottom: 10px;
    margin-top: 10px;
}

.apartado {
    font-family: 'Aboreto', cursive;
    padding-top: 25px;
    display: flexbox;
    float: right;
    float: inline-start;
    height: 70vh;
    width: 30vw;
    text-align: center;
}

.tiposDeCubosTitulo {
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
    display: inline-block;
    padding: 10px;
    background-color: #3D1766;
    margin-bottom: 10px;
}

.imgCubos {
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
}

.clear {
    clear: both;
}
.pie {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    padding-bottom: 0;
    border: 2px solid #230741;
    background-image: linear-gradient(to bottom, #6F1AB6, #3D1766);
}
