* {
    border-width: 1px;
    padding: 0; margin: 0; box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
}

.conteiner {
    width: 100vw;
}

.encabezado {
    width: 100vw;
    /*#393E46
    #d8d8d8*/
    background-color: #393E46;
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primerDiv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px #393E46 solid;
}

.tituloPrincipal {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
    font-size:20px;
}

.logo {
    padding-top: 10px;
    margin-bottom: 15px;
}

hr{
    color: azure;
}

.navegador {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    /*#393E46
    #d8d8d8*/
    color: #d8d8d8;
    width: 100vw;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}