* {
    border-width: 1px;
    padding: 0; margin: 0; box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
}

.conteiner {
    width: 100vw;
}

.encabezado {
    padding-top: 10px;
    background-image: url('ruta1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #393E46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloPrincipal {
    padding-bottom: 10px;
}

.logo {
    padding-top: 10px;
    margin-bottom: 15px;
}

.primerDiv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    color: azure;
}

.navegador { 
    margin-top: -5px;
    color: #393E46;
    width: 100vw;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.articulo {
    padding-top: 20px;
    background-image: url('derrape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #393E46;
}

.parrafos {
    background-color: #EEEEEE;
    border: black 1px solid;
    font-size: large;
    width: 70vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p, h4{
    padding: 15px;
}

.parrafo4 {
    width: 70vw;
    text-align: right;
}

.primerHR {
    padding-bottom: 20px;
}

.segundoHR {
    width: 100vw;
}

.ache4 {
    width: 90vw;
}


@media (min-width: 375px) {
    .tituloPrincipal{
        font-size: 0.8em;
    }
}

@media (min-width: 485px) {
    .tituloPrincipal{
        font-size: 1em;
    }
}

@media (min-width: 730px) {
    .tituloPrincipal{
        font-size: 1.5em;
    }
    
}